

</div>
<footer class="footer">
  <div class="container justify-content-center d-flex flex-column">
	<!-- <p class="footer__created_by"><a class="footer__link justify-content-center d-flex" target="_blank" href="" rel="noopener noreferrer">Created by AJ LAWAL</a></p> -->
	<p class="footer__contact justify-content-center d-flex"><strong>If you have any questions, please contact me.</strong></p>
	<div class = "d-flex flex-row justify-content-center">
		<i class="fas fa-envelope-square fa-lg mx-2"></i> ajip2peducation@gmail.com
		<i class="fas fa-phone fa-lg mx-2"></i> +44742 663 6644
	</div>
	  <div class = "d-flex flex-row justify-content-center mt-3">
		<p class="footer__contact justify-content-center d-flex"><strong>Links</strong></p>
		<a href = "https://github.com/aji1414"><i class="fab fa-github fa-lg ml-2"></i></a> 
		<a href= "https://www.linkedin.com/in/aji-lawal-909/"><i class="fab fa-linkedin-in fa-lg ml-2"></i></a>
	</div>	
	<p class="footer__copyright justify-content-center d-flex">This product uses the OMDb API but is not endorsed or certified by OMDb.</p>
  </div>
</footer>


<!-- library for background -->
<script src = "/three.r119.min.js"></script>
<script src = "/vanta.fog.min.js"></script>


<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- movie trailer api script -->
<script type="text/javascript" src="https://unpkg.com/movie-trailer"></script>
<!-- auto complete library script -->
<script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@7.2.0/dist/js/autoComplete.min.js"></script>

<!-- axios -->
<script type = "text/javascript" src="https://unpkg.com/axios/dist/axios.min.js"></script>

<!-- created js scripts  -->
<script src = "/movieSearch14.js"></script>
<script src = "/js14.js"></script>

		
</body>
</html>
