
<!-- movie trailer api script -->
<script type="text/javascript" src="https://unpkg.com/movie-trailer"></script>
<script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@7.2.0/dist/js/autoComplete.min.js"></script>
<script src = "/autocomplete7.js"></script>
<script src = "/js7.js"></script>
	<!-- autocomplete library js -->
		
</body>
</html>