

</div>
<footer class="footer">
  <div class="container justify-content-center d-flex flex-column">
	<p class="footer__contact justify-content-center d-flex"><strong>If you have any questions, please contact me.</strong></p>
	<div class = "d-flex flex-row justify-content-center">
		<i class="fas fa-envelope-square fa-lg mx-2"></i> ajip2peducation@gmail.com
		<i class="fas fa-phone fa-lg mx-2"></i> +44742 663 6644
	</div>
	  <div class = "d-flex flex-column justify-content-center mt-3">
		<p class="footer__contact justify-content-center d-flex"><strong>Links</strong></p>
		<div class = "d-flex justify-content-center mb-2">
			<a href = "https://github.com/aji1414"><i class="fab fa-github fa-lg ml-2"></i></a> 
			<a href= "https://www.linkedin.com/in/aji-lawal-909/"><i class="fab fa-linkedin-in fa-lg ml-2"></i></a>
		</div>
		
	</div>	
	<p class="footer__copyright justify-content-center d-flex">This product uses the TMBD and OMDb API's but is not endorsed or certified by either.</p>
  </div>
</footer>


<!-- library for background -->
<!--  -->


<!-- <script src = "/lzma_worker.js"></script> -->

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- movie trailer api script -->
<script type="text/javascript" src="https://unpkg.com/movie-trailer"></script>
<!-- auto complete library script -->
<script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@7.2.0/dist/js/autoComplete.js"></script>

<!-- axios -->
<script type = "text/javascript" src="https://unpkg.com/axios/dist/axios.min.js"></script>

<!-- created js scripts  -->
<script src = "/movieSearch14.js"></script>
<script src = "/js14.js"></script>

		
</body>
</html>
