


<!-- <footer class="footer">
  <div class="container justify-content-center d-flex flex-column">
	<p class="footer__created_by"><a class="footer__link justify-content-center d-flex" target="_blank" href="https://www.gauti.info" rel="noopener noreferrer">Created by AJ</a></p>
	<p class="footer__contact justify-content-center d-flex">If you have any questions, please contact me.</p>
	<p class="footer__copyright justify-content-center d-flex">This product uses the TMDb API but is not endorsed or certified by TMDb.</p>
	<img src="/static/images/md-logo.png" width="75" alt="TMDb Logo">
  </div>
</footer> -->

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- movie trailer api script -->
<script type="text/javascript" src="https://unpkg.com/movie-trailer"></script>
<!-- auto complete library script -->
<script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@7.2.0/dist/js/autoComplete.min.js"></script>
<!-- created js scripts  -->
<script src = "/autocomplete13.js"></script>
<script src = "/js13.js"></script>
		
</body>
</html>