<%- include ("./partials/header") %>


<!-- <div class="jumbotron jumbotron-fluid bg-white border border-info rounded-top">
	  <div class="container text-center">
			<h1 class="display-4">Movie Comparison App</h1>
			<p class="lead"></p>
		
			<form autocomplete="off" action="/action_page.php">
			  <div class="autocomplete " style="width:300px;">
				<input class = "searchFilm border border-secondary" id="myInput" type="text" name="myCountry" placeholder="Search for a movie">
			  </div>
			  <input type="submit">
			</form>
	  </div>
</div> -->

<div class="jumbotron jumbotron-fluid bg-white border border-info rounded-top">
	  <div class="container text-center">
			<h1 class="display-4">Movie Comparison App</h1>
			<p class="lead"></p>
		
			<!-- <form autocomplete="off" action="/action_page.php"> -->
			  <div class="autocomplete ">
				<input class = "searchFilm border border-secondary" id="myInput" type="text" name="myCountry" placeholder="Search for a movie">
			  </div>
	  </div>
</div>

<div id = "movieSpace" class = "border border-success text-center">
	
</div>


<%- include ("./partials/footer") %>
  	<!-- Make sure the form has the autocomplete function switched off: -->