<%- include ("./partials/header") %>
<%- include ("./partials/headerPart2wSearch") %>
<!-- <div class = "mx-auto text-center mt-1 helpMessage">
	Search for a movie in the search bar above, or select from the movies below
</div> -->
<%- include ("./partials/moviePreviews") %>

<%- include ("./partials/footer") %>