body, html {
	height:100%;
	overflow: auto;
}

html body{
	background: rgb(0, 0, 0);
	color: white;
}

* { box-sizing: border-box; }
body {
  font: 16px Arial;
}


input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}

/* text for movie name styling */
.title{
	font-size:2em;
	font-weight: 700;
}

/* style jumbotron size */
.jumbotron{
	height: 20%;
}

/* spacing between movie details */
.movieInfo{
	margin-bottom:20px
}

/* editing links in nav bar */
ul li a{
	font-size: 1em;
}

/* adjust poster image size so all are equal */
img{
	height: 400px;
	max-height: 400px;
	width: 300px;
	max-width:300px;
}

/* adjusting text size in buttons */
btn {
	font-size: 0.5em;
}

/* adjust space between user divs  */
.card{
	margin-left:4%;
	margin-right:4%;
	border:none;
}

/* trailer vide styling */
.video{
	width:100%;
	height:90%;
	position:fixed;
	top: 20%;
	right:0;
	bottom:0;
}



/* styling star ratings */

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}


.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

.rating > span:hover:before {
   content: "\2605";
   position: absolute;
}
