body, html {
	height:100%;
	overflow: auto;
}

html body{
	background: rgb(0, 0, 0);
	color: white;
}

/* text for movie name styling */
.title{
	font-size:2em;
	font-weight: 700;
}

/* style jumbotron size */
.jumbotron{
	height: 20%;
}

/* spacing between movie details */
.movieInfo{
	margin-bottom:20px
}

/* editing links in nav bar */
ul li a{
	font-size: 1em;
}

/* adjust poster image size so all are equal */
img{
	height: 400px;
	max-height: 400px;
	width: 300px;
	max-width:300px;
}

/* adjusting text size in buttons */
btn {
	font-size: 0.5em;
}

/* adjust space between user divs  */
.card{
	margin-left:4%;
	margin-right:4%;
	border:none;
}

/* trailer vide styling */
.video{
	width:100%;
	height:90%;
	position:fixed;
	top: 20%;
	right:0;
	bottom:0;
}



/* styling star ratings */

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}


.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

.rating > span:hover:before {
   content: "\2605";
   position: absolute;
}

/*  font on sandpit movie*/
.card-body{
	color: black;
}

.card-body span{
	font-style: italic;
}

/* Logic to display how many stars user has rated a film */
span[n="1"]:before {
   content: "☆";
   display:block;
}

span[n="2"]:before {
   content: "☆☆";
	display:block;
}

span[n="3"]:before {
   content: "☆☆☆";
	display:block;
}

span[n="4"]:before {
   content: "☆☆☆☆";
	display:block;
}

span[n="5"]:before {
   content: "☆☆☆☆☆";
	display:block;
}

/* Pop up box in user sandpit page */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* font on navbar. super specific to overwrite bootstrap code */
.navbar-light .container-fluid .navbar-nav .nav-link{
	color:black;
	font-weight:700;
}

/* style hovering on see mo */
p.font-weight-bold:hover{
	color: blue;
	text-decoration: underline black;
}


