body, html {
	height:100%;
	overflow: auto;
	/* background: rgb(0, 0, 0); */
	background: black;
	color:white;
	margin: 0;
    padding: 0;
	animation: animation 100s linear infinite;
}


////////////////////////////////////////////////
			/* Nav Bar Settings */
////////////////////////////////////////////////

/* font on navbar. super specific to overwrite bootstrap code */
.nav-link{
	color:black;
	/* font-size:1.5em; */
	font-weight:800;
}

.bg-light{
	background:white;
}

/* get rid of outline on toggler icon when clicked */
.navbar-toggler:focus{
	outline:none
}

/* color for main page title in navbar */
header h5{
	color:black;
	font-weight: 800;
	font-size:2em;
	/* position:sticky; */
	/* left: 40%; */
}

header{
	width:100%
}

/* editing links in nav bar */
ul li a{
	font-size: 0.8em;
	color:red
}

/* to change font of home buttons in nav bar */
.navbar-light .navbar-nav .nav-link{
	color:black;
	font-weight:600;
	/* font-size:1.5em; */
} 

.navbar-light .navbar-nav .active>.nav-link{
	color:black;
	font-weight:600;
}



:root {
    --transition-1: all 0.9s ease-in-out;
    --transition-2: all 0.9s ease-in-out;
}

.header {
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-touch-callout: none;
}

.no_result {
    margin: 0.15rem auto;
    padding: 0.6rem;
    max-width: 400px;
    border: 0.05rem solid #e3e3e3;
    list-style: none;
    text-align: left;
    font-size: 1.1rem;
    color: rgb(123, 123, 123);
    transition: all 0.1s ease-in-out;
    background-color: #fff;
    border-radius: 0 0 1rem 1rem;
    outline: none;
  }

.no_result:hover {
    cursor: default;
    background-color: #fff;
    border: 0.05rem solid #e3e3e3;
}

.no_result:focus {
    cursor: default;
    background-color: #fff;
    border: 0.05rem solid #e3e3e3;
}

.in {
    padding: 0 2rem 0 3.5rem;
    color: rgba(255, 255, 255, 1);
    height: 3rem;
    width: 16.5rem;
    border: 0.05rem solid rgb(255, 122, 122);
    background: url("./images/magnifier.svg") no-repeat left/15% 1.5rem;
    box-shadow: rgba(255, 122, 122, 0.1) 0px 0px 20px 5px;
    position: relative;
    font-size: 1.2rem;
    outline: none;
    border-radius: 50rem;
    border: 0.05rem solid rgb(255, 122, 122);
    /* caret-color: rgb(255, 122, 122); */
    transition: all 0.4s ease;
    -webkit-transition: all -webkit-transform 0.4s ease;
    text-overflow: ellipsis;
}

.out {
    position: relative;
    padding: 0 2rem 0 3.5rem;
    height: 2.1rem;
    width: 6rem;
    font-size: 1.2rem;
    outline: none;
    border-radius: 50rem;
    border: 0.05rem solid rgb(255, 122, 122);
    /* caret-color: rgb(255, 122, 122); */
    color: rgba(255, 255, 255, 0);
    background: url("./images/magnifier.svg") no-repeat center/10% 1.5rem;
    transition: all 0.4s ease;
    -webkit-transition: all -webkit-transform 0.4s ease;
    text-overflow: ellipsis;
}

* { box-sizing: border-box; }
body {
  font: 16px Arial;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}


/* Settings for footer at page bottom */
.footer{
	position:relative;
	bottom:0;
	width:100%; 	
	background:orange;
	height:15%;
}

.footer p{
	color:black;
}
